@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to styles/globals.css */
@keyframes fade-in-down {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-12px);
    }
}

.animate-fade-in-down {
    animation: fade-in-down 1s ease;
}

.animate-fade-in-up {
    animation: fade-in-up 1s ease;
}

.animate-fade-in {
    animation: fade-in 2s ease;
}

.animate-bounce {
    animation: bounce 2s infinite linear;
}